div(data-role='header')
  h1 Discount
div(data-role='content')
  h1 Discount Percentage
  input(type="range",value="1",min="0",max="100")
  a(href="#confirmdiscount",data-icon="star", data-role='button', data-theme='c', ng-click="")
    | Select this discount
//- div(data-role='footer')
//-   h4 Food Pong
