div(data-role='header')
  h1 Food Pong for Restaurants
  //- a(href="index.html",data-role="button",data-theme="b")
  //-   | Signup
  //- a(href="index.html",data-role="button",data-theme="b")
  //-   | Login
div(data-role='content')
  
  div(data-role='controlgroup', data-type="horizontal", ng-show="!isLoggedIn()").center-wrapper
    a(href='#signup', data-role='button',data-theme="c",data-rel="dialog",data-transition="pop") Signup
    a(href='#login', data-role='button',data-theme="c",data-rel="dialog",data-transition="pop") Login
  div(ng-show="isLoggedIn()")
    h1 Welcome {{username}}
    a(data-role='button',data-theme="c", ng-click="logout()") Logout
  div(ng-show="isLoggedIn()")
    a(href='#flashsale', data-icon="star", data-role='button', data-theme='c')
      | Flash Sale
    a(href='#viewdemand', data-icon="star", data-role='button', data-theme='c')
      | View Demand
    a(href='#manageorders', data-icon="star", data-role='button', data-theme='c')
      | Manage Orders
    a(href='#managesubscriptions', data-icon="star", data-role='button', data-theme='c')
      | Manage Subscriptions
    a(href='#settings', data-icon="star", data-role='button', data-theme='c')
      | Restaurant Information Settings
//- div(data-role='footer')
//-   h4 Food Pong
