!!! 5
html(ng-app)
  head
    title Food Pong
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0;')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    
    link(rel='stylesheet', href='css/reset.css')
    link(rel='stylesheet',href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css")
    link(rel='stylesheet', href='css/main.css')
    link(rel='apple-touch-icon', href='icon.png')
    link(rel='stylesheet', type='text/css', href='http://dev.jtsage.com/cdn/datebox/latest/jqm-datebox.min.css')
    
    // twitter bootstrap stylesheet 
    //- link(rel='stylesheet', href='http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css')
    // we need jQuery 
    //- script(src="http://code.jquery.com/jquery-1.7.1.min.js")
    //- script(src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js")
    script(src="http://code.jquery.com/jquery-1.8.2.min.js")
    script(src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js")
    // we need tabs javascript plugin of twitter bootstrap 
    // script(src='http://twitter.github.com/bootstrap/1.4.0/bootstrap-tabs.js')

    script(src='js/raphael.js')
    script(src='http://g.raphaeljs.com/g.raphael.js')
    script(src='http://g.raphaeljs.com/g.bar.js')
    script(src='http://g.raphaeljs.com/g.line.js')

    script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js')

    script(src="js/usergrid.appSDK.js")

    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js")
    script(src="js/jquery-mobile-angular-adapter-1.1.1.js")

    script(type='text/javascript', src='http://dev.jtsage.com/cdn/datebox/latest/jqm-datebox.core.min.js')
    script(type='text/javascript', src='http://dev.jtsage.com/cdn/datebox/latest/jqm-datebox.mode.calbox.min.js')
    script(type='text/javascript', src='http://dev.jtsage.com/cdn/datebox/i18n/jquery.mobile.datebox.i18n.en_US.utf8.js')

  body(ng-controller="IndexCtrl")
    #first(data-role='page',data-add-back-btn="true",ng-controller="FirstCtrl")
      include first
    #viewdemand(data-role='page',data-add-back-btn="true",ng-controller="ViewDemandCtrl")
      include viewdemand
    #flashsale(data-role='page',data-add-back-btn="true",ng-controller="FlashSaleCtrl")
      include flashsale
    #nowlater(data-role='page',data-add-back-btn="true",ng-controller="NowLaterCtrl")
      include nowlater
    #selection(data-role='page',data-add-back-btn="true",ng-controller="SelectionCtrl")
      include selection
    #selectitem(data-role='page',data-add-back-btn="true",ng-controller="SelectItemCtrl")
      include selectitem
    #perk(data-role='page',data-add-back-btn="true",ng-controller="PerkCtrl")
      include perk
    #discount(data-role='page',data-add-back-btn="true",ng-controller="DiscountCtrl")
      include discount
    #perkdiscount(data-role='page',data-add-back-btn="true",ng-controller="PerkDiscountCtrl")
      include perkdiscount
    #manageorders(data-role='page',data-add-back-btn="true",ng-controller="ManageOrdersCtrl")
      include manageorders
    #managesubscriptions(data-role='page',data-add-back-btn="true",ng-controller="ManageSubscriptionsCtrl")
      include managesubscriptions
    #settings(data-role='page',data-add-back-btn="true",ng-controller="SettingsCtrl")
      include settings
    #login(data-role='page',data-add-back-btn="true",ng-controller="LoginCtrl")
      include login
    #signup(data-role='page',data-add-back-btn="true",ng-controller="SignupCtrl")
      include signup
    #confirmperk(data-role='page',data-add-back-btn="true",ng-controller="ConfirmPerkCtrl")
      include confirmperk
    #confirmdiscount(data-role='page',data-add-back-btn="true",ng-controller="ConfirmDiscountCtrl")
      include confirmdiscount

  script(src="js/index.js")
