div(data-role='header')
  h1 Perk
div(data-role='content')
  h1 a free 
  a(href='#perkdiscount', data-icon="star", data-role='button', data-theme='c')
    | Now
  a(href='#selection', data-icon="star", data-role='button', data-theme='c')
    | Later
//- div(data-role='footer')
//-   h4 Food Pong
