div(data-role='header')
  h1 Perk
div(data-role='content')
  a(href='#selectitem', data-icon="star", data-role='button', data-theme='c')
    | Select Item
  h1 Buy
  input(type="range",value="1",min="0",max="100")
  h1 Get
  input(type="range",value="1",min="0",max="100")  
  h1 Free

  a(href="#confirmperk",data-icon="star", data-role='button', data-theme='c', ng-click="")
    | Select this perk