div(data-role='header')
  h1 Select Date and Duration of the perk
div(data-role='content')
  input#mydate(name='mydate', type='date', data-role='datebox', data-options='{"mode": "timebox"}')
  //- label(for='start') Start Time
  //- input(type='range', name='start', value='0', min='0', max='24')
  //- label(for='end') End Time
  //- input(type='range', name='end', value='24', min='0', max='24')
