div(data-role='header')
  h1 Login
div(data-role='content')
  input(type='text', ng-model="username", name='username', value='',placeholder="Username")
  input(type='password', ng-model="password", name='password', value='',placeholder="Password")
  a(data-role='button', ng-click="login()") Login
