div(data-role='header')
  h1 Order
div(data-role='content').center-wrapper
  h1 {{currentRestaurant.name}}
  | Time Left: {{timeleft}} Discount: {{discount}}
  | {{time}} {{date}}
  div(data-role='fieldcontain')
    h1 Choose as many items as you'd like:
    fieldset(data-role='controlgroup',ng-repeat="(name,price) in currentRestaurant.menu")
      input(ng-change="calculateTotal()",id="checkbox{{$index}}",type='checkbox', ng-model="checks[name]")
      label(for="checkbox{{$index}}")
        | {{name}} ${{price}}
    fieldset(data-role='controlgroup')
      a(data-role='button').ui-disabled.text-align-right ${{total}}
  a(href="#confirm",data-role='button')
    | Order Now

div(data-role='footer')
  h4 Footer
