div(data-role='header')
  h1 Eat Now
div(data-role='content')
  ul(data-role='listview',data-filter="true")
    li
      a(href='#orders') Rest 1
    li
      a(href='#orders') Rest 2
    li
      a(href='#orders') Rest 3

div(data-role='footer')
  h4 Footer
