div(data-role='header')
  h1 Eat Now
div(data-role='content')
  ul(data-role='listview',data-filter="true")
    li(ng-repeat="restuarant in restaurants")
      a(href='#orders', ng-click="startOrder(restuarant)") {{restuarant.name}}

div(data-role='footer')
  h4 Footer
