div(data-role='header')
  h1 Account Settings
div(data-role='content')
  input(type='email', ng-model="email", name='email', value='',placeholder="Email")
  a(data-role='button', ng-click="update()") Update
