h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  padding-bottom: 5px;
  text-rendering: optimizelegibility;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  color: #999999;
}

h1 {
  font-size: 20px;
  line-height: 20px;
  padding-top: 5px;
}

h1 small {
  font-size: 18px;
}

h2 {
  font-size: 18px;
  line-height: 18px;
}

h2 small {
  font-size: 18px;
}

h3 {
  font-size: 18px;
  line-height: 27px;
}

h3 small {
  font-size: 14px;
}

h4,
h5,
h6 {
  line-height: 18px;
}

h4 {
  font-size: 14px;
}

h4 small {
  font-size: 12px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 11px;
  color: #999999;
  text-transform: uppercase;
}

.page-header {
  padding-bottom: 17px;
  margin: 18px 0;
  border-bottom: 1px solid #eeeeee;
}

.page-header h1 {
  line-height: 1;
}

.eat-image
  width: 75%
  padding-top: 5px
  padding-bottom: 5px
  
@media all
  .panel
    overflow: hidden
    position: absolute
    display: block
    width: 100%
    padding-top: 60px
    padding-bottom: 60px
    top: 0

  .scrollable
    overflow: scroll
    -webkit-overflow-scrolling: touch

  .insideScrollablePanel
    margin-left: 5%
    margin-right: 5%
    width: 90%

@media (device-width: 768px) and (orientation: portrait)
  .panel
    height: 934px

@media (device-width: 768px) and (orientation: landscape)
  .panel
    height: 668px

@media (max-width: 480px) and (orientation: portrait)
  .panel
    height: 380px

@media (max-width: 480px) and (orientation: landscape)
  .panel
    height: 220px

.center-wrapper{
text-align: center;
}
.center-wrapper * {
margin: 0 auto;
}
.center-button{
margin: 0 auto;
}
.text-align-right
  text-align:right
.text-align-left
  text-align:left
  
.eatnow {
  background-image: url('../images/eatnowsm.png') !important;
}
.eatlater {
  background-image: url('../images/eatlatersm.png') !important;
}
#holder
  width: 300px
  height: 220px
  